
.idea/.idea.TurnBased/.idea/workspace.xml
.idea/.idea.TurnBased/.idea/vcs.xml
.idea/.idea.TurnBased/.idea/projectSettingsUpdater.xml
.idea/.idea.TurnBased/.idea/indexLayout.xml
.idea/.idea.TurnBased/.idea/encodings.xml
